.container {
  border-radius: 5px;
  position: relative;
  width: 50vw;
  height: 70vh;
  max-height: 75vh;
  overflow: scroll;
  top: 15vh;
  left: 20vw;
  background: rgb(238, 239, 232);
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
  width: 75%;
  margin-left: 5%;
  margin-top: 7px;
  margin-bottom: 2vh;
  height: 10vh;
  border: 3px solid black;
  border-radius: 7px;
  
}
.calculate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.block {
  width: 10vw;
  height: 70%;
  overflow: hidden;
 
  
  
  padding: 5px;
  
  
  
}

.input-wrapper {
  border: 1px solid blueviolet;
  border-radius: 1px;
  border-right: 1px solid blueviolet;
}
input {
  outline: none;
  border: none;
  width: 4vw;
}
input:focus {
  outline: none;
}
.lineBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.minus {
  width: 3vw;
  height: 3vh;
  border-radius: 50%;
  margin-left: 7px;
  margin-bottom: 32px;
  background-size: contain;
}

button {
  outline: none;
  border: none;
  animation: fadeIn 0.5s ease-in-out;
}
.calcButton {
  margin-left: 5%;
  margin-bottom: 10px;
  margin-top: 10%;
  background: rgb(124, 124, 152);
  width: 7vw;
  width: auto;
  height: 4vh;
  animation: fadeIn 0.3s ease-in-out;
}
.interAction {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  height: auto;
  animation: fadeIn 0.3s ease-in-out;
}
.result {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
  width: 10vw;
  height: 7vh;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 2vh;
  padding: 2% 2% 2% 4%;
  animation: fadeIn 0.3s ease-in-out;
}
span {
  animation: fadeIn 0.3s ease-in-out;
}

.vektor {
  margin-top: 5%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid blue;

}
.vektor:hover {
  border: 2px solid blue;
}

.vektor img {
  max-width: 100%; 
  height: auto; 
}

.adder {
  
  border: 2px solid black;
  margin-bottom: 22px;
  margin-left: 0vw;
  
  width: 6vw;
  height: 6vh;
  border-radius: 50%;
  
  margin-top: 3px;
  margin-bottom: 5vh;
  background-size: contain;
  

}

.money {
  width: 7vw;
  height: 3vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: white;

}
.center {
  margin-left: 40%;
  margin-top: 5%
}

img {
  width: 25px;
  height: 25px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    
  }
  to {
    opacity: 1;
    
  }
}
